@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/forms";
// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import
  "bootflat/global",
  "bootflat/typography";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 50px 0;
  section{
    padding: 0 0 1vh;
  }
}
.form-group{
  input{
    margin-bottom: 5px
  }
}
pre{
  padding: 0;
}
footer{
  background-color: transparent!important;
  text-align: center;
  a{

  }
}
